.logo{
    top: 0;
    left: 0;
    width: 120px;
    height: auto;
    margin-right: 3em;
}

header {
    flex-wrap: wrap;
}

#slogan {
    font-weight: bold;
    text-align: left;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-right: auto;
  }

  .search-input {
    height: 2em;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 16px;
    width: 300px;
    outline: none;
  }

  .search-button {
    background-color: #049444;
    color: white;
    border: none;
    font-size: 16px;
    height: 2em;
    outline: none;
  }

  .search-button:hover {
    background-color: rgb(44, 101, 47);
  }

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05)
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-subtitle {
    font-size: 14px;
    height: 40px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    margin-top: 5px;
}
