main {
    background-color: #04AA6D;
    color: white;
  }

.logo{
    top: 0;
    left: 0;
    width: 120px;
    height: auto;
    margin-right: 3em;
}

#navbar {
    margin: auto;
}

#navbar button, .search-button {
    border: 1.5px solid black;
    border-radius: 5%;
    padding: .25em;
    padding-left: .75em;
    padding-right: .75em;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.4s;
}

#navbar button:hover {
    background-color: #04AA6D;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#slogan {
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: 0;
    right: 0;
    margin: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 10px;
    margin-right: auto;
  }

  .search-input {
    height: 2em;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 16px;
    width: 300px;
    outline: none;
  }

  .search-button {
    background-color: #049444;
    color: white;
    border: none;
    font-size: 16px;
    height: 2em;
    outline: none;
  }

  .search-button:hover {
    background-color: rgb(44, 101, 47);
  }

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05)
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-subtitle {
    font-size: 14px;
    height: 40px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    margin-top: 5px;
}

.card-title, .modal-content, .card-subtitle, .form-label {
    color: black; 
}