main {
    background-color: #84f1b5;
    color: black;
  }

.logo {
    top: 0;
    left: 0;
    width: clamp(100px, 5vw, 100%); /* Look up clamp() if you haven't, super helpful */
}

header {
    display: flex;
}

/* Desktop */
@media (min-width: 1024px) {
    .logo {
      width: 100px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* Phone */
@media (max-width: 767px) {
    .logo {
      width: 20vh;
      left: 50%;
      right: 50%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
}

#slogan {
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: 0;
    right: 0;
    margin: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 10px;
    margin-right: auto;
  }

  .search-input {
    height: 2em;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 16px;
    width: 300px;
    outline: none;
  }

  .search-button {
    background-color: #049444;
    color: white;
    border: none;
    font-size: 16px;
    height: 2em;
    outline: none;
  }

  .search-button:hover {
    background-color: rgb(44, 101, 47);
  }

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05)
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-subtitle {
    font-size: 14px;
    height: 40px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    margin-top: 5px;
}

.card-title, .modal-content, .card-subtitle, .form-label {
    color: black;
}

.icon {
    height:20px;
    width:auto;
}

.Acard{
    width: 18rem;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 10;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.title-column {
    width: 350px; 
    max-width: 350px; 
    word-wrap: break-word; 
}

  .footerbackground{
    background-image: linear-gradient(to bottom, #84f1b5,white);
    background-size: contain;
    background-repeat: no-repeat;

  }
  
  @keyframes header{
    0%   {background-color: red;}
    16%   {background-color: orange;}
    32%  {background-color: yellow;}
    48% {background-color: green;}
    64%  {background-color: blue;}
    80% {background-color: purple;}
    100% {background-color: red;}
    
  }

  .header{
    animation-name: header;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }